<!-- edited -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.png" />






    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/preview.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/usernavbar.css" />
    <link rel="stylesheet" href="/css/footer.css"/>

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
    <script src="/js/moment.js"></script>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs") %>

   
    <section class="story section">

      <%ProjectInformation.forEach(element => { %>
     <div class="project-area">
       <div class="head-container flex justify-center ">
         <div class="left-area">
            <div class="user_story_picture">
              <figure>
               
                <img
                  class="card-cover-img"
                  src="data:image/<%=element.CoverPicture.contentType%>;base64,
                  <%=element.CoverPicture.data.toString('base64')%>"
                  alt="Sample"
                  title="Cover picture of the story"
                />
                <figcaption> 
                  <div class="transparent_bg">
                    <p  style="font-size: 14px;" class="bottom-right">Created at <span id="creationDate"><%= new Date([month,date,year].join("/")).toLocaleDateString("en-US",{ day:"numeric", month:"long", year:"numeric"})%></span></p>
                  </div>
                   
                  </figcaption>
            </figure>
            
              </div>
           
            
              <p class="caption_of_story" id="title"><%= element["StoryTitle"] %></p>
            </div>
            <div class="right-area">
                <div class="collected_money_section">
                  <p class="amount_head">collected money</p>
                  <p class="amount">
                    ৳
                    <label id="curr_amount" style="font-size: 22px">
                      <%= element["CurrentAmount"] %>
                    </label>
                  </p>
                  <div class="progress">
                    <progress id="progress" value="0" max="100"></progress>
                  </div>
                  <p
                    style="margin: 10px 0; color: rgb(134, 129, 129); font-weight: bold"
                  >
                    Goal : ৳ <label id="goal"> <%= element["TargetAmount"] %></label>
                  </p>
                </div>
                <div class="remaining_days">
                  
                  <% if(element["CurrentAmount"] < element["TargetAmount"] && DaysRemaining !=0){ %>
                    <span class="days"> Remaining Days : </span>
                    <label id="project_validity"> <%= DaysRemaining %></label>
                  <% }else{ %>
                    <!-- meesage -->
                 <% } %>
                  <span class="count">
                    <label id="days" style="font-weight: bold; color: #000"></label>
                  </span>
                </div>
                <% if((element["CurrentAmount"] < element["TargetAmount"] && DaysRemaining != 0) && OtherUser != undefined) { %>
                <div id="support_box" class="support_section">
                  <a
                        style="text-decoration: none; color: aliceblue"
                        href="/project/<%= element['_id'] %>/payment-information"
                      >
                  <div  class="support_option">
                    <p>
                      
                        ৳ <%= OtherUser %>
                      
                    </p>
                  </div>
                </a>
                  <p
                    style="
                      text-align: center;
                      padding: 8px;
                      font-weight: bold;
                      color: #000;
                    "
                       >
                       you can use payment section
                     </p>
                     <div class="payment_section">
                       <img src="/img/bkash.jpg" alt="bkash" />
                       <img src="/img/nogod.jpg" alt="bkash" />
                       <img src="/img/rocket.jpg" alt="bkash" />
                     </div>
                   </div>
                   <% } %>
                   <div class="sharing_section">
                     <button>
                        <a style="color: #12af9a !important; text-decoration: none;" href="#Help_by_sharing">Help by sharing</a>
                    </button>
                  </div>
                  <% if(element["CurrentAmount"] >= element["TargetAmount"] || DaysRemaining === 0  ){ %>
                    <div id="project_end_message" class="project-ended-message">
                      <button>This project has finished !  </button> 
                    </div>
                  <%} %>
                </div>
            </div>
            <div class="support-container flex gap justify-center">
              <div class="left-area">
                <p
                style="
                  margin: 30px 0 10px;
                  text-align: left;
                  font-weight: bold;
                
                "
              >
                people who supported :
                <label id="profile_count"> <%= SupporterLength %></label>
              </p>
              <hr style=" width: 100%; border: 1px solid black;" />
  
  
  
              <div  id="supporters" class="supporters">
                <% if (SupporterProfile.length !=0) { %>
                <div id="support-profile" class="supported_user_profile   ">
                 <% for(var  i=0; i<SupporterProfile.length; i++)  {%>     <!--this will be changed later -->
                <div class="user_profile_each">
                  <img
                  style="
                    border-radius: 50%;
                    width: 80px;
                    height:80px;
                    border: 1px solid black;
                    margin: 0 10px;
                    object-fit: cover;
                  "
                  src="data:image/<%=SupporterProfile[i].profileImage.contentType%>;base64,
              <%=SupporterProfile[i].profileImage.data.toString('base64')%>"
                  alt="supporter-profilePic"
                  
                />

                <!-- creating a tooltip on hover effect -->
                <div class="tooltip_text">

                  <% if(SupporterProfile[i].user_name != ""){ %>

                    <h5><%= SupporterProfile[i].user_name %></h5>
                  
                  <%} else { %>

                    <span>No information found</span>
                    

                    <% } %>
                  
                  
                </div>

              </div>
                  <% } %>
  
                  <!-- <span class="more-supporters">
                   
                      <i onclick="open_window()" class="ph-dots-three-outline-fill"></i>
               
                  </span> -->
                
                </div>
      
              
                
                
                <% } else { %>
                <div style="width: 100%; margin: 30px 0 10px 0; " class="some_suggestion">
                  <p  style="text-align: center; font-size: 17px;">Let's be the first one to help!</p>
                  <p style="text-align: center; font-size: 14px; margin: 15px 0;">By sharing more people will know about the project, and it will be more likely to be supported.</p>
                 <div style="display: flex; justify-content : center; font-size: 16px;" class="share-option">
                  <a style="color: #12af9a!important;"  href="#Help_by_sharing"> Help by sharing</a>
                 </div>
                </div>
                <% } %>
              </div>
              </div>
                <div class="right-area">
                    <div class="easy_fund">
                        <div class="about_easy_fund">
                          <div class="icon">
                            <span class="material-icons"> public </span>
                        </div>
                        <div style="padding: 5px 10px" class="text">
                          <span style="font-weight: bold"> What is Easy Fund ?</span>
                        </div>
                      </div>
                      <p>
                        Easy fund is a part of crowdfunding, an approach to raise assets for a particular reason or task by requesting an enormous number from individuals to give cash, ordinarily in limited quantities, 
                        and generally during a moderately brief timeframe, like a couple of month
                    </p>
                  </div>
                </div>
            </div>
            <div class="story-container flex justify-center column">
                <p
                style="
                  margin: 30px 0 15px 0;
                  text-align: left;
                  font-weight: bold;
                  font-size: 23px;
                "
              >
                Story
              </p>
              <hr style=" width: 100%; border: 1px solid black;" />
              <div class="story_teller">
                <div class="user_profile">
                  <img
                    style="border-radius: 50%;object-fit: cover; width: 80px; height:80px; border: 1px solid black"
                    src="data:image/<%=OwnerAvatar.contentType%>;base64,
              <%=OwnerAvatar.data.toString('base64')%>"
                    alt="profilePic"
                  />
                </div>
                <div class="user_identity">
                  <p class="username"><%= Owner_name %></p>
                  <p class="identity"><%= Owner_university %></p>
                </div>
              </div>
              
                <textarea
                style="font-family: system-ui; font-size: 18px; width: 100%;"
                readonly
                id="mainStory"
                class="main_story"
              >
          <%= element["MainStory"] %></textarea
              >
              
              
              
          <div>
            <% if(AttachmentLength) { %> <% element.Attachments.forEach((file) => {
              %>
            <div class="gallery">
              <img
                src="data:image/<%=file.contentType%>;base64,
              <%=file.data.toString('base64')%>"
                alt="attachment-<%= file._id %>"
                width="600"
                height="500"
              />
            </div>
            <% }) %> <% } %>
          </div>
              
           
            </div>

            <section class="comment story-container">
              
            
              <p
              style="
                margin: 30px 0 15px 0;
                text-align: left;
                font-weight: bold;
                font-size: 23px;
              "
            >
              COMMENTS
            </p>
            <hr style=" width: 100%; border: 1px solid black;" />
            
            <div id="comment_container" class="comment_container">
            <% if(projectComments.length !=0) { %>

                <div class="comment_view">

                  <% projectComments.forEach(element => { %>

                    <div class="comment_section">
                      <img src="data:image/<%=element.profileImage.contentType%>;base64,
                    <%=element.profileImage.data.toString('base64')%>" alt="single-comment" />

                    <div class="user_part">
                      
                      <% if(element.role === "user"){ %>
                        <h1><%= element.fullname %></h1>
                      <% } else { %>
                        <h1><%= element.fullname %><span class="creator"> (creator)</span></h1>
                      <%} %>

                      <p class="User_comment"><%= element.message %></p>
                      </div>
        
                    </div>

                  <% }) %>
                  
                </div>

              
              
           

            
            <% } else { %>

              
            <div id="no-comment" class="no-comment">
              <p>No Comments Available</p>
            </div>

           <% } %>

          </div>

           <% if(Object.keys(userInformation).length !=0){ %>

          <% if(element["CurrentAmount"] < element["TargetAmount"] && DaysRemaining != 0){ %>
          <div id="comment_post" class="comment_post">
              <form  id="comment-box" action="" method="post">
                <div class="comment_post">
                 
                    <div class="flex">
                      <input
                      id="comment"
                      class="comment_field"
                      placeholder="Add your comment"
                      type="text"
                      name="message"
                      required
                      autocomplete="off"
                    />
                    <input type="submit" value="SEND" class="send_btn" />
                    </div>
          
                
              </div>
              </form>
            <% } %>
            </div>

            <%  } %>
            
            
            
            
            
              </section>
           
             

          
           
          </div>
          <% }); %>



          <div id="Help_by_sharing" class="help_by_sharing">
            <p>Help by sharing</p>
            <div class="social_icon">
                <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
          </div>
          <div class="copy_link">
            <input readonly id="project-link" type="links/" value="<%= RequestedUrl
            %>"" width="70%" />
            <button id="copy-btn" onclick="CopyLink()">copy</button>
        </div>
      </div>
       </section>





       <%- include('../../partials/footer.ejs') %> 



       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

         
      <script defer src="/js/mainstory.js"></script>
      <script >

        try {

        const form = document.querySelector("#comment-box");
        const comment_container = document.querySelector("#comment_container");
        
          form.onsubmit = async function(e){
          e.preventDefault();
          let CurrentUrl ="";
          
          if(window.location.href.includes("#")){
            CurrentUrl = window.location.href.split("#")[0].replace(/\/+$/, "");
          }else{
            CurrentUrl = window.location.href.replace(/\/+$/, "");
          }
          const formData = new FormData(form);
         const plainFormData = Object.fromEntries(formData.entries());
         const JsonData = JSON.stringify(plainFormData);
          const fetchOption = {
                method: "POST",
                headers: {
                  "content-type": "application/json",
                  Accept: "application/json",
                },
                body: JsonData,
              };
         
          const response = await fetch(`${CurrentUrl}/comment`,fetchOption);
          const result = await response.json();
        
          if(! result.errors && result.comment)
          
          {
            const {comment,role} = result.comment;
            const {profileImage,username} = comment;

         
            const BinaryImageData = profileImage.data["data"];

            let binary = '';
            let bytes = new Uint8Array(BinaryImageData);
            let len = bytes.byteLength;

            for (let index = 0; index < len; index++) {
              binary += String.fromCharCode(bytes[index]);
              
            }
            
            
            const imageData = btoa(BinaryImageData);
            const message = comment.message;
            const name = username;

        
            
            

            // parent comment section
            const comment_section = document.createElement("div");
            comment_section.className = "comment_section";

            // div to cover username and usermessage
            const user_part = document.createElement("div");
            user_part.className = "user_part";


            // create the image tag;
            var img = new Image();
            img.src = `data:image/${profileImage.contentType};base64,${btoa(binary)}`;
            img.alt = "single-comment";

            // create all necessary tag;
            const h1 = document.createElement("h1");
            const pTag = document.createElement("p");

            // message to save in ptag
            pTag.className = "User_comment";
            pTag.innerHTML = message;

            if(role === "creator")
            {
              const span = document.createElement("span");
              span.className = "creator";
              span.innerHTML = ` (creator)`;
              h1.innerHTML = name;
              h1.append(span);
            }else{
              h1.innerHTML = username;
            }

            user_part.appendChild(h1);
            user_part.appendChild(pTag);

            comment_section.appendChild(img);
            comment_section.appendChild(user_part);


           

            

            if(comment_container.children[0].id === "no-comment")
            {
              //comment view
              const comment_view = document.createElement("div");
              comment_view.className = "comment_view";

              comment_view.appendChild(comment_section);
              
              document.getElementById("no-comment").style.display = "none";
              comment_container.appendChild(comment_view);

            }else{
              
              document.querySelector(".comment_view").insertAdjacentElement("beforeend",comment_section);
            }

            

           document.getElementById("comment").value = "";
            
          }
       
     
     
        }
      
          
        } catch (error) {
           console.log(error.message);
          
          
        }
        
        
      </script>

      
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$('.supported_user_profile').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow:4 ,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

				
</script>
</body>
</html>