<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/amountSelection.css" />

        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />


      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  </head>
  <body>

    
    <div class="amount-selection">
      
      <div class="important-msg">
        <p>The payment information is encrypted by SSL so you can safely pay.</p>
      </div>

    <div class="selected_project_info">

      <div class="project-cover">
       <img  src="data:image/<%=CoverPicture.contentType%>;base64,
<%= CoverPicture.data.toString('base64')%>" alt="project-cover" />
      </div>

      <div class="project-title">
        <p><%= StoryTitle %>.</p>
      </div>

    </div>
   

    <div class="container">

      <div class="card mt-3">
        <div class="card-header">
          <h2>Required Data</h2>
        </div>

        <% if(typeof alert != 'undefined') { %>
          <% alert.forEach(function(error) { %>
      
          <div id="error-div" class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %> 
          <button id="error-btn" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div> 
          <% }) %>
          <% } %>  
        <div class="card-body">
          
          <form id="Support"  method="post">
            <% if(Object.keys(UserInfo).length === 0){ %>
            
            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input required name="cus_phone" class="form-control" id="phone" placeholder="eg: +8801xxxxxxxxx"  />

              
            </div>

            <div class="mb-3">
              <label for="feedback" class="form-label">Send a supportive message to the owner of the project!</label>
              <textarea
              
                name="feedback"
                type="text"
                class="form-control"
                id="feedback"
                placeholder="eg : Do your best to make your dream come true"
              ></textarea>

             
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input
                required
                name="amount"
                type="number"
                class="form-control border"
                id="amount"
                
              />


            </div>
            
           
            <div class="mb-3">
              <label for="desc" class="form-label">Currency</label>
              <!-- <select name="currency" class="form-select">
                <option selected value="BDT">BDT</option> -->
                <!-- <option value="USD">USD</option> -->
              <!-- </select> -->
              <input
                  
              readonly
              name="currency"
              type="text"
              class="form-control"
              value="BDT"
            />
            </div>

           
  
            <button type="submit" class="btn btn-primary">Submit</button>
         

          <% } else { %>

        
              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input  name="cus_phone" class="form-control" id="phone" min="11" value="<%= UserInfo.phone %>" />
                
                
                
              </div>
  
              <div class="mb-3">
                <label for="feedback" class="form-label">Send a supportive message to the owner of the project!</label>
                <textarea
                
                  name="feedback"
                  type="text"
                  class="form-control"
                  id="feedback"
                  placeholder="eg : Do your best to make your dream come true"
                ></textarea>
  
               
              </div>
              <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input
                  
                  required
                  name="amount"
                  type="number"
                  min="0"
                  step="0.01"
                  class="form-control"
                  id="amount"
                />

                
              </div>
              
             
              <div class="mb-3">
                <label for="desc" class="form-label">Currency</label>
                <!-- <select name="currency" class="form-select">
                  <option selected value="BDT">BDT</option>
                  <!-- <option value="USD">USD</option> -->
                <!-- </select>  -->
                <input
                  
                readonly
                name="currency"
                type="text"
                class="form-control"
                value="BDT"
              />
              </div>
  
             
    
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>



            <% } %>
        </div>
      </div>

    </div>


      <div class="small-support-hint">

        <p> When you support </p>

        <ul>
          <li>Please read the<a href=""> Terms of Use </a>and <a href="#"">Privacy Policy</a> before supporting.</li>
          <li>After supporting, it will be considered that you agree with the privacy policy and the terms of use of this service.</li>
          <li>As a general rule, refunds cannot be made after payment is completed.</li>
        </ul>
      </div>

    </div>
    
  


  <script> 

  /* event click for closing the error related div */
  const error_div = document.querySelectorAll("#error-btn");
          for (let index = 0; index < error_div.length; index++) {
            
            error_div[index].addEventListener("click",function(){
                this.parentNode.remove();
            })
            
          }
  

  </script>
  
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

</body>
</html>