<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />

    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/usernavbar.css" />
    <link rel="stylesheet" href="/css/first_container.css" />
    <link rel="stylesheet" href="/css/anouncement.css "/>
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/announcment.css">
    <link rel="stylesheet" href="/css/third_container.css">

    <link rel="stylesheet" href="/css/category.css" />
    <script src="https://unpkg.com/phosphor-icons"></script>


    <script src="https://unpkg.com/phosphor-icons"></script>
    

  </head>
  <body>
    <%- include("../partials/navbar.ejs") %> <%-
    include("../partials/banner.ejs") %>
    <% if(Object.keys(ProjectData).length != 0){ %>

<section class="second-section">
  <div class=" section-container">
    <h1 class="section-title">All Projects</h1>
  
  
  <div class=" card-list flex">      
    <% ProjectData.forEach(element => { %>
    <a href="/project/<%= element["_id"] %>">
      <div class="card-container">
        <img
        src="data:image/<%=element.CoverPicture.contentType%>;base64,
  <%=element.CoverPicture.data.toString('base64')%>"
            alt="Sample"
        />

        <div class="title">
          <h3>
            <%= element["StoryTitle"] %>
          </h3>
        </div>

        <div class="category flex">
          <i class="ph-stack-thin"></i>
          <span><%= element["Category"] %></span>
        </div>
        <div class="flex amount-percent">
          <span class="amount">৳ <%= element["TargetAmount"] %></span>
          <p class="percent" id="percentage">60%</p>
        </div>
        <progress
          max="<%= element["TargetAmount"] %>"
          value="<%= element["CurrentAmount"] %>"
          class="progress"
          data-v-ba5a48cc=""
        ></progress>
      </div>
    </a>
       <% }); %>
  </div>
  <% } %>
</div>

</section>

<section class="anouncement-section">

  <div class="anouncement-container">
    <div class="header-anouncement">

      <h3>Check this if you are struggling while trying to get used to the new normal
      </h3>
    </div>

  <div class="important-points">

    <ul>

      <li> Are you trying to reopen your business, Searching for fund to your startup</li>
      <li> Do you have a new idea to explore yourself? </li>
      <li> Focus on your business model to share your thought </li>
      <li> Do you want to support the creativity or embrace the new normal in a more optimistic way  </li>
    </ul>
  </div>

  <div class="important-paragraph">

    <p>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab ducimus consectetur nobis optio id quas earum minima saepe? Eum, voluptates.
    </p>

  </div>

  <div class="important-link">

    <div class="img-cover">

      <img src="/img/banner_easy.png" />

    </div>

    <div class="text">

      <p> Want to Know more about Easy Fund?</p> 
      <a href="/article/category_tips.html">
        <i class="ph-caret-double-right-bold arrow-end">
       
        </i>
      </a>
    
    </div>
  </div>

</div>





</section>
















<section class="third-section">
  <div class="section-container block flex">
    <div class="card">
      <i class="ph-pencil-line-thin"></i>
      <div>
     
        <h4>Create your project in 5 mins!</h4>
      </div>
      <p>
        Only set your target amount and completion date, and then set an image and project title that best decribes your situation.
      </p>
    </div>
    <div class="card">
      <i class="ph-thumbs-up-thin"></i>
      <div>
      
        <h4>Create your project for free.</h4>
      </div>
      <p>
        There are no fees to open a project in Airfunding. You can carry out crowdfunding completely free.
      </p>
    </div>
    <div class="card">
      <i class="ph-globe-hemisphere-east-thin"></i>

      <div>
    
        <h4>Let your project be seen by people from all over the world.

        </h4>
      </div>
      <p>
        Once you have collected your first 3 supports, your project can be viewed from all over the world.
      </p>
    </div>
  </div>
  <a class="section-container" href="/article/how_it_works.html">How EasyFund Works?</a>
</section>
<%- include('../partials/category.ejs') %> 
      
    
        <script defer src="/js/homepage/banner.js"></script>
        <script defer src="/js/homepage/percentage.js"></script>
      </body>
    </html>