<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />

       <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/usernavbar.css" />
    <link rel="stylesheet" href="/css/first_container.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/third_container.css">
    <script src="https://unpkg.com/phosphor-icons"></script>

  </head>
  <body>
    <%- include("../partials/navbar.ejs") %> <%-
    include("../partials/banner.ejs") %>
    <% if(Object.keys(ProjectData).length != 0){ %>

<section class="second-section">
  <div class=" section-container">
    <h1 class="section-title">All projects</h1>
  
  
  <div class=" card-list flex">      
    <% ProjectData.forEach(element => { %>
    <a href="/project/<%= element["_id"] %>">
      <div class="card-container">
        <img
        src="data:image/<%=element.CoverPicture.contentType%>;base64,
  <%=element.CoverPicture.data.toString('base64')%>"
            alt="Sample"
        />

        <div class="title">
          <h3>
            <%= element["StoryTitle"] %>
          </h3>
        </div>

        <div class="category flex">
          <i class="ph-stack-thin"></i>
          <span><%= element["Category"] %></span>
        </div>
        <div class="flex amount-percent">
          <span class="amount">৳ <%= element["TargetAmount"] %></span>
          <p class="percent" id="percentage">60%</p>
        </div>
        <progress
          max="<%= element["TargetAmount"] %>"
          value="<%= element["CurrentAmount"] %>"
          class="progress"
          data-v-ba5a48cc=""
        ></progress>
      </div>
    </a>
       <% }); %>
  </div>
  <% } %>
</div>

</section>
<section class="third-section">
  <div class="section-container block flex">
    <div class="card">
      <i class="ph-monitor-bold" ></i>
      <div>
        <span>Scalable on Devices. </span>
        <h4>RESPONSIVE & RETINA</h4>
      </div>
      <p>
        Employment respond committed meaningful fight against oppression
        social challenges rural legal aid governance. Meaningful work,
        implementation, process cooperation, campaign inspire.
      </p>
    </div>
    <div class="card">
      <i class="ph-lightning-bold"></i>
      <div>
        <span> Smartly Coded & Maintained.</span>
        <h4>POWERFUL PERFORMANCE</h4>
      </div>
      <p>
        Medecins du Monde Jane Addams reduce child mortality challenges Ford
        Foundation. Diversification shifting landscape advocate pathway to a
        better life rights international. Assessment.
      </p>
    </div>
    <div class="card">
      <i class="ph-sliders-bold"></i>

      <div>
        <span>Flexible & Customizable.</span>
        <h4>TRULY MULTI-PURPOSE</h4>
      </div>
      <p>
        Democracy inspire breakthroughs, Rosa Parks; inspiration raise
        awareness natural resources. Governance impact; transformative
        donation philanthropy, respect reproductive.
      </p>
    </div>
  </div>
</section>
      
    
        <script defer src="/js/homepage/banner.js"></script>
        <script defer src="/js/homepage/percentage.js"></script>
      </body>
    </html>