<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.png" />
  </head>
  <style>
    

   
  </style>
   <link rel="stylesheet" href="/css/admin.css" />
   <link rel="stylesheet" href="/css/card.css" />


   <script defer src="https://unpkg.com/phosphor-icons"></script>
  <body>

    <div class="topnav">
      <a  href="/admin-pannel/dashboard">EasyFund</a>
      <a href="/admin-pannel/all-projects">All projects</a>
      <a onclick="logout()" href="#">Logout</a>
    </div>

    <section class="admin-pannel">

      <div class="all_card">

        <div onclick="OpenPendingProjects(this)" class="Pending_project card active_border">

          <p>Project Pending</p>
          <span><%= PendingNumber %></span>
        </div>

        <div onclick="OpenRuningProjects(this)"  class="Runing_project card">

          <p>Runing Project</p>
          <span><%= RuningNumber %></span>
        </div>


        <div onclick="OpenSuccessFulProjects(this)"  class="Total_transac card">

          <p>Total Transaction</p>
          <span>৳<%= TotalTransacSum %></span>
        </div>

      </div>

    </section>

    <section id="PendingDiv" class="second-container">

      <% if(Object.keys(data).length != 0){ %>
    
        <div class="card-list flex justify-center">
        
          <% data.forEach(element => { %>
          <a href="/admin-pannel/preview/<%= element["_id"]%>">
            <div class="card-container">
              <div class="cover_with_token">
                <img
              src="data:image/<%=element.CoverPicture.contentType%>;base64,
        <%=element.CoverPicture.data.toString('base64')%>"
                  alt="Sample"
              />
             <% if(element["token"] != "Pending"){ %>
      
              <% if(element["token"] === "Success!"){%>
                <button class="sky_blue"><%= element["token"]%></button>
              <%}%>
      
              <% if(element["token"] === "Failure!"){%>
                <button class="indigo" ><%= element["token"]%></button>
              <%}%>
      
              <% if(element["token"] === "Funded!"){%>
                <button class="yellow"><%= element["token"]%></button>
              <%}%>
      
             <%} %>
              </div>
    
              <div class="title">
                <h3>
                  <%= element["StoryTitle"] %>
                </h3>
              </div>
    
              <div class="category flex">
                <i class="ph-stack-thin"></i>
                <span><%= element["Category"] %></span>
              </div>
              <div class="flex amount-percent">
                <span class="amount">৳ <%= element["TargetAmount"] %></span>
                <p class="percent" id="percentage"></p>
              </div>
              <progress
                max="<%= element["TargetAmount"] %>"
                value="<%= element["CurrentAmount"] %>"
                class="progress"
                data-v-ba5a48cc=""
              ></progress>
            </div>
          </a>
            <% }); %>
        </div>
        <% } else{ %>

          <div class="message">
            <p >Currently There is no pending project Available.</p>


          </div>
          

       <%  } %>
    
    
    </section>

    <section id="RuningDiv" class="second-container">

      <% if(Object.keys(RuningProject).length != 0){ %>
    
        <div class="card-list flex justify-center">
        
          <% RuningProject.forEach(element => { %>
          <a href="/admin-pannel/preview/<%= element["_id"]%>">
            <div class="card-container">
              <div class="cover_with_token">
                <img
              src="data:image/<%=element.CoverPicture.contentType%>;base64,
        <%=element.CoverPicture.data.toString('base64')%>"
                  alt="Sample"
              />
             <% if(element["token"] != "Pending"){ %>
      
              <% if(element["token"] === "Success!"){%>
                <button class="sky_blue"><%= element["token"]%></button>
              <%}%>
      
              <% if(element["token"] === "Failure!"){%>
                <button class="indigo" ><%= element["token"]%></button>
              <%}%>
      
              <% if(element["token"] === "Funded!"){%>
                <button class="yellow"><%= element["token"]%></button>
              <%}%>
      
             <%} %>
              </div>
    
              <div class="title">
                <h3>
                  <%= element["StoryTitle"] %>
                </h3>
              </div>
    
              <div class="category flex">
                <i class="ph-stack-thin"></i>
                <span><%= element["Category"] %></span>
              </div>
              <div class="flex amount-percent">
                <span class="amount">৳ <%= element["TargetAmount"] %></span>
                <p class="percent" id="percentage"></p>
              </div>
              <progress
                max="<%= element["TargetAmount"] %>"
                value="<%= element["CurrentAmount"] %>"
                class="progress"
                data-v-ba5a48cc=""
              ></progress>
            </div>
          </a>
            <% }); %>
        </div>
        <% } else{ %>

          <div class="message">
            <p >Currently There is no Runing  project Available.</p>


          </div>
          

       <%  } %>
    
    
    </section>

    <section id="SuccessDiv" class="second-container">

      <% if(Object.keys(TransacProject).length != 0){ %>
    
        <div class="card-list flex justify-center">
        
          <% TransacProject.forEach(element => { %>
          <a href="/admin-pannel/preview/<%= element["_id"] %>">
            <div class="card-container">
              <div class="cover_with_token">
                <img
              src="data:image/<%=element.CoverPicture.contentType%>;base64,
        <%=element.CoverPicture.data.toString('base64')%>"
                  alt="Sample"
              />
             <% if(element["token"] != "Pending"){ %>
      
              <% if(element["token"] === "Success!"){%>
                <button class="sky_blue"><%= element["token"]%></button>
              <%}%>
      
              <% if(element["token"] === "Failure!"){%>
                <button class="indigo" ><%= element["token"]%></button>
              <%}%>
      
              <% if(element["token"] === "Funded!"){%>
                <button class="yellow"><%= element["token"]%></button>
              <%}%>
      
             <%} %>
              </div>
    
              <div class="title">
                <h3>
                  <%= element["StoryTitle"] %>
                </h3>
              </div>
    
              <div class="category flex">
                <i class="ph-stack-thin"></i>
                <span><%= element["Category"] %></span>
              </div>
              <div class="flex amount-percent">
                <span class="amount">৳ <%= element["TargetAmount"] %></span>
                <p class="percent" id="percentage"></p>
              </div>
              <progress
                max="<%= element["TargetAmount"] %>"
                value="<%= element["CurrentAmount"] %>"
                class="progress"
                data-v-ba5a48cc=""
              ></progress>
            </div>
          </a>
            <% }); %>
        </div>
        <% } else{ %>

          <div class="message">
            <p >Currently There has been no transaction yet.Keep watching</p>


          </div>
          

       <%  } %>
    
    
    </section>
  </body>
  <script defer src="/js/homepage/percentage.js"></script>
  <script defer src="/js/admin/slider.js"></script>
  <script>
    function logout() {
    fetch("/admin-pannel/dashboard", {
      method: "DELETE",
    });

    setTimeout(() => {
    window.location.replace("/");
  }, 1000);
  }
  </script>
</html>
